.current-weather {
  width: 300px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgba(0, 0, 0 / 30%);
  color: #fff;
  background-color: #71a0a5;
  margin: 30px auto;
  padding: 0 20px 20px;
}

.current-weather__header,
.current-weather__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-name {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weather-icon {
  width: 100px;
}

.current-temperature {
  font-weight: 600;
  font-size: 3rem;
  width: auto;
  margin: 10px 0;
  letter-spacing: -5;
}

.current-temperature-details {
  width: 100%;
  padding-left: 20px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 0.8rem;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 0.8rem;
}
